# Full URL to the API service (no trailing slash)
VITE_API_BASE_URL=https://gochat.anticode.dev/api/v1

# Full WebSocket URL to the WS service
VITE_WEBSOCKET_URL=wss://gochat.anticode.dev/ws/subscribe

# Base path for the application (e.g., /chat). Default is /
# VITE_BASE_PATH=/chat

# Production examples:
# VITE_API_BASE_URL=https://api.example.com/api/v1
# VITE_WEBSOCKET_URL=wss://api.example.com/ws/subscribe
# VITE_BASE_PATH=/chat
